:root { 
    --fover-focus-color: #2196f3;
    --headers-text-color: #0000;
    --white-color: #ffffff;

    
  }
  
  .list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    list-style: none;
  }
  
  body {
    font-family: Roboto;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
  }
  

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    margin: 0;
}
  
  img {
    display: block;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,ul,li {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  

  
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      margin: 0 auto;
      padding-left: 22px;
      padding-right: 22px;
    }
  }
  @media screen and (max-width: 1279px) {
    .container {
      max-width: 320px;
      margin: 0 auto;
      padding-left: 19px;
      padding-right: 19px;
    }
  }

  @media screen and (min-width: 1280px) {  
    .hat {
    border-bottom: 1px solid #ececec;
    
padding-top: 40px;
  }}

  
  .hat__container {
    display: flex;
    position: relative;
  }
  
  @media screen and (max-width: 1279px) {
    .hat__container {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    
    }
  }

  .hat__menu-open-btn {
   
    right: 15px;
    z-index: 2;
    border: none;
    display: block;
    padding: 0;
    width: 21px;
    height: 1-px;
    background-color: #ffffff;
  }
  
  @media screen and (min-width: 1279px) {
    .hat__menu-open-btn {
      display: none;
    }
  }
  
  .hat__icon:hover,
  .hat__icon:focus {
    fill: #2196f3;
  }
  
  .hat__menu-open-btn.is-open .hat__icon-menu {
    display: none;
  }
  
  .hat__menu-open-btn.is-open .hat__icon-cross {
    display: block;
  }
  
  .hat__icon-cross {
    display: none;
  }
  
  @media screen and (max-width: 1279px) {
    .button-container {
      display: flex;
      justify-content: cernter;
      align-items: center;
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .button-container {
      display: none;
    }
  }
  
  .hat__menu-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: 1;
    padding-left: 17px;
    padding-bottom: 34px;
    padding-top: 34px;
    padding-right: 17px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    display: none;
  }
  
  @media screen and (max-width: 1279px) {
    .is-open {
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .navigation-list {
   display: block;
  }
  .navigation-list__item{

  }
  .navigation-list__item:not(:last-child) {
    margin-bottom: 10px;
  margin-right: 75px;
  }
  .navigation__link {
    display: block;
    color: black;
    font-weight: bold;
  } 
  .nav-links {
    font-weight: bold;
    color: black;
  }
  
  @media screen and (min-width: 1280px) {
    .navigation-list {
     display: flex;
    }
  }
 

  
  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .backdrop {
    overflow-y: scroll;
    opacity: 1;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

  .products
  {

    display: flex;
  
  }
  .products__item__list {
    margin-right: 97px;
  }
.accordion {
display: flex;
}
@media screen and (max-width: 1279px) {
  .accordion {
    display: none;
    
    }
}
.accordion-item {
  margin-right: 75px;
}
.accordion-item__input {
  position: absolute;
  top:0;
  left: 0;
  opacity: 0;
}

.accordion-item__trigger-m {
  margin-bottom: 12px;
}
.accordion-item__content {
  display: none;
  width: 0px;
  height: 0px;
  
  }
.accordion-item__trigger {
display: block;
font-weight: bold;
padding-bottom:24px;

}

.accordion-item__input:checked ~ .accordion-item__trigger {
  
border-bottom: 2px solid #2196f3;
}
.accordion-item__input:checked ~ .accordion-item__content {
 
 display: block;
 position: absolute;
 top:126px;
 left:392px;

}
.products__item__title {
  font-size:14px;
  font-style:bold;
  color:black;
  font-weight:600;
  margin-bottom:16px;
}
.list__item {
  font-size:16px;
  margin-bottom:16px;
}
.logo-container {
  width: 99px;
  height: 29px;
  margin-right: 65px;
 
}
@media screen and (min-width: 1280px) {
.logo-container {
  width: 114px;
  height: 33px;
  margin-right: 255px;
 
}
}
.pict {
  height: auto;
}
.nav-wrapper {
  white-space:nowrap;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
@media screen and (min-width: 1280px) {
.nav-wrapper {
  white-space:nowrap;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0px 25px;
}
}
@media screen and (min-width: 1280px) {
.nav-wrapper {
  margin-left: auto;
  gap: 0px 16px;
}
}
.search {
  display: block;
  border: 0;
  border-bottom: 1px solid black;
  height: 12px;
  width: 235px;
  position: relative;
}
.search-label {
  color: #000000;
  display: block;
  }
@media screen and (min-width: 1280px) {
.search {
  display: none;
}

}
@media screen and (min-width: 1280px) {
.search-label {
  display: none;
  }
}
@media screen and (max-width: 1279px) {
.search-wraper {
  position: absolute;
  top:58px;
  left:40px;
 
}
}
.heart-vector {
  width: 13px;
  height: 12px;
  
}
@media screen and (max-width: 1279px) {
.nav-links {
  margin-right:16px;
}
}
.search-img{
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-width: 1280px) {
.search-img{
  position: static;
}
}
@media screen and (max-width: 1279px) {
.nav-wrapper {
display: flex;
justify-content: center;
align-items: center;
}}
.accordion-m{

}
.products-m__item {
  margin-bottom: 22px;
}
.accordion__mobile-list {
 
}
.mobile-list__item {
  width: 100%;
}
.mobile-list__item:not(:last-child) {
  margin-bottom: 10px;
  
}
.accordion-item__input-m {
  position: absolute;
  top: 0;
  left:0;
  opacity: 0;
}
.accordion-item__content-m {
  display: none;
  
  }
.accordion-item__trigger-m {
  display: block;
position: relative;
color: #000000;
font-weight: 700;


}

.accordion-item__input-m:checked ~ .accordion-item__content-m {

 display: block;

} 

.arrow {
  position: absolute;
  top:0px;
  right: 0px;
}
.accordion-item__input-m:checked ~ .arrow {
   transform: rotate(90.5turn); 

 
 }
 .accordion-item-m {
  position: relative;
 }
.mobile-product-title {
  font-weight: bold;
  margin-bottom: 12px;
}
.menu-link {
  display: block;
  color: inherit;
  font-weight: bold;
  color: #000;
}

